<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271299677448-1us8acr2cbrrjnrcq5jqqa87l5u65sq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271299677448-1us8acr2cbrrjnrcq5jqqa87l5u65sq5</string>
	<key>API_KEY</key>
	<string>AIzaSyCPISDeJk50u4enuhBnZFdAQSgldX9cxSY</string>
	<key>GCM_SENDER_ID</key>
	<string>271299677448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bucketListWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>bucketlistwithfirebase-16c91</string>
	<key>STORAGE_BUCKET</key>
	<string>bucketlistwithfirebase-16c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271299677448:ios:54678b7284e07b1e7a70bd</string>
</dict>
</plist>